html {
    font-size: 12px;
}

#app {
    width: 70%;
    position: relative;
    margin: 0 auto;
    padding: 50px 0;
}

.priceWrap {
    text-align: right;
    font-size: 1.2rem;
}

.fakeThead {
    display: none;
}

@media (min-width: 1280px) {
    .fakeThead {
        display: block;
        border-bottom: 1px solid #F0F0F0;
        padding-bottom: 0.8rem;
    }
}

.fakeTr {
    overflow: auto;
    position: relative;
    border-bottom: 1px solid #F0F0F0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.fakeTd {
    margin-bottom: 0.5rem;
}

@media (min-width: 1280px) {
    .fakeTd {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        width: 17%;
    }
    .fakeTd.productTh {
        width: 37%;
    }
    .fakeTd.productTd {
        width: 25.5%;
    }
    .fakeTd.removeTd {
        width: 9%;
        text-align: center;
    }
}

.fakeTable {
    font-size: 1.3rem;
    overflow: auto;
}

.fakeTable .title4 {
    margin: 1.5rem 0 1rem 0;
}

@media (min-width: 1280px) {
    .fakeTable .title4 {
        font-weight: 400;
        color: #808080;
        text-transform: none;
        font-size: 1.3rem;
        padding-left: 2rem;
    }
}

.fakeTable .label {
    display: inline;
}

.fakeTable .productImage {
    width: 31.25%;
    max-width: 17.8rem;
    float: left;
    padding: 1.5rem;
    border-right: 1px solid #F0F0F0;
    box-sizing: border-box;
    margin-right: 2rem;
    margin-bottom: 0;
}

@media (min-width: 1280px) {
    .fakeTable .productImage {
        width: 11%;
        padding: 0;
        border: 0;
        margin: 0;
        float: none;
    }
}

.fakeTable .productImage img {
    display: block;
    width: 100%;
}

.fakeTable .removeProduct {
    width: 21%;
    border-left: 1px solid #F0F0F0;
    position: absolute;
    right: 0;
    top: 2rem;
    height: 66%;
    height: calc(100% - 4rem);
    margin-bottom: 0;
}

@media (min-width: 1280px) {
    .fakeTable .removeProduct {
        width: 9%;
        border: 0;
        position: static;
        height: auto;
    }
}

.fakeTable .removeProduct .spangica {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fakeTable .removeProduct .spangica:hover {
    cursor: pointer;
}

.fakeTable .removeProduct .spangica:hover span {
    background-color: rgba(0, 142, 166, 0.7);
}

@media (min-width: 1280px) {
    .fakeTable .removeProduct .spangica {
        position: static;
        display: inline-block;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}

.fakeTable .removeProduct .spangica span {
    background-color: #008ea6;
    -moz-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.fakeTable .removeProduct .spangica span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fakeTable .removeProduct .spangica span:nth-child(2) {
    opacity: 0;
}

.fakeTable .removeProduct .spangica span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fakeTable input[type="text"] {
    width: 3rem;
    height: 3rem;
    border: 2px solid #008ea6;
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
    text-align: center;
}

.fakeTable input[type="text"].formError {
    border-color: #dc6664;
}

@media (min-width: 1280px) {
    .fakeTable input[type="text"] {
        width: 4.8rem;
        height: 4.8rem;
    }
}

.fakeTable strong {
    font-weight: 600;
    color: #4d4d4f;
}

.shoppingCart .mainContent {
    padding: 0;
}

@media (min-width: 1280px) {
    .shoppingCart .mainContent {
        padding: 8rem 5% 10rem;
    }
}

.shoppingCart .accountForm {
    margin-top: 0;
}

.shoppingCart .formFooter {
    padding: 0 8%;
}

@media (min-width: 1280px) {
    .shoppingCart .formFooter {
        padding: 0;
        overflow: auto;
        margin-top: 1rem;
    }
}

.shoppingCart .accountForm {
    max-width: 101.6rem;
}

.shoppingCart .fakeTr {
    background: #fafbfb;
    padding-bottom: 0;
    border-bottom: 0;
    overflow: visible;
    clear: both;
}

.shoppingCart .fakeTr:last-child {
    padding-bottom: 2rem;
}

.shoppingCart .trWrap {
    background: #ffffff;
}

.shoppingCart .fakeTable {
    border-bottom: 1px solid #438ca8;
}

.shoppingCart .fakeTable .label {
    font-weight: 600;
}

.shoppingCart .fakeTable .productImage {
    width: 8%;
    margin: 1.5rem 0;
}

.shoppingCart .fakeTable .title4 {
    font-weight: 600;
    color: #438ca8;
    font-size: 1.4rem;
    margin: 0.5rem 0;
}

.shoppingCart .fakeTd {
    text-align: center;
}

.shoppingCart .fakeTd.productTh {
    width: 53%;
    text-align: left;
}

.shoppingCart .fakeTd.productTd {
    width: 44.7%;
    text-align: left;
}

.shoppingCart .fakeTd.productTd strong {
    padding-left: 2rem;
    font-weight: 600;
}

.shoppingCart .fakeTable .removeProduct .spangica span {
    background-color: #7e7e7e;
}

.shoppingCart .formFooter {
    overflow: auto;
}

.shoppingCart .formFooter .notes {
    width: 64%;
    float: left;
    overflow: auto;
    margin-top: 1.5rem;
}

.shoppingCart .formFooter .notes p {
    font-style: italic;
    color: #4d4d4f;
    margin-bottom: 4rem;
}

.shoppingCart .formFooter .notes p a {
    text-decoration: underline;
}

.shoppingCart .formFooter .notes label {
    width: 15%;
    box-sizing: border-box;
    float: left;
    margin-top: 1.2rem;
    padding-top: 0;
}

.shoppingCart .formFooter .notes textarea {
    width: 85%;
    float: right;
    height: 8.7rem;
    font-size: 1.4rem;
}

.shoppingCart .formFooter .checkout {
    width: 30%;
    float: right;
    padding-top: 2.6rem;
}

.shoppingCart .formFooter .checkout .priceTotal {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e8e8e8;
}

.shoppingCart .formFooter .checkout .currentPrice {
    padding-bottom: 0;
    border-bottom: 0;
}

.shoppingCart .formFooter .checkout .vat {
    text-align: right;
    clear: both;
}

.shoppingCart .formFooter .checkout .button {
    margin-top: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    width: auto;
    letter-spacing: 0.1em;
}

.shoppingCart .formFooter .checkout .priceWrap {
    width: 20.4rem;
}


/* Spinner specific style fixes */

.ui-controlgroup-vertical .ui-spinner-input {
    /* Support: IE8 only, Android < 4.4 only */
    width: 75%;
    width: calc( 100% - 2.4em);
}

.ui-controlgroup-vertical .ui-spinner .ui-spinner-up {
    border-top-style: solid;
}

.qSpinner {
    float: left;
}

.ui-spinner {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
}

.ui-spinner-input {
    border: none;
    background: none;
    color: inherit;
    padding: .222em 0;
    margin: .2em 0;
    vertical-align: middle;
    margin-left: .4em;
    margin-right: 2em;
}

.ui-spinner-button {
    width: 1.6em;
    height: 50%;
    font-size: .5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: default;
    display: block;
    overflow: hidden;
    right: 0;
}


/* more specificity required here to override default borders */

.ui-spinner a.ui-spinner-button {
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
}

.ui-spinner-up {
    top: 0;
}

.ui-spinner-down {
    bottom: 0;
}

.qSpinner {
    width: 21%;
    padding-left: 3rem;
    box-sizing: border-box;
}

.qSpinner label {
    font-weight: 700;
    font-size: 1.4rem;
    display: inline-block;
    color: #4d4d4f;
    margin-top: 1rem;
    margin-right: 1.4rem;
}

.qSpinner label.error {
    display: none !important;
}

.qSpinner .ui-spinner-input {
    width: 12rem;
    height: 4.2rem;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    text-align: center;
    font-weight: 700;
    color: #438ca8;
    margin: 0;
    padding: 0;
}

.qSpinner .ui-spinner-input.error {
    border: 1px solid #dc6664;
}

.qSpinner .ui-spinner-button {
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0.6rem;
    font-size: 1.8rem;
    padding-top: 0.4rem;
    color: #4d4d4f;
    cursor: pointer;
    background: #ffffff;
}

.qSpinner .ui-spinner-button.ui-spinner-up {
    right: 0.5rem;
}

.qSpinner .ui-spinner-button.ui-spinner-up::before {
    content: "+";
}

.qSpinner .ui-spinner-button.ui-spinner-down {
    left: 0.5rem;
}

.qSpinner .ui-spinner-button.ui-spinner-down::before {
    content: "-";
}

.qSpinner .ui-spinner-button span {
    display: none;
}

.qSpinner .ui-button-icon-only {
    text-indent: 0;
}

.spangica {
    width: 2rem;
    margin-top: 0.2rem;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.rlClose .spangica {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-60%, -60%);
    -webkit-transform: translate(-60%, -60%);
    transform: translate(-60%, -60%);
}

.expanded .spangica {
    -webkit-transform: translate3d(-0.3rem, 0, 0);
    -ms-transform: translate(-0.3rem, 0);
    transform: translate3d(-0.3rem, 0, 0);
}

.spangica span {
    display: block;
    width: 100%;
    height: 0.1rem;
    background: #ffffff;
    margin-bottom: 0.65rem;
}

@media (min-width: 1600px) {
    .spangica span {
        margin-bottom: 0.6rem;
    }
}

.regions .rlClose .spangica span {
    background: #808080;
}

.spangica span:first-child,
.spangica span:last-child {
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.spangica span:nth-child(2) {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}

.spangica span:last-child {
    margin: 0;
}

.expanded .spangica span:first-child,
.rlClose .spangica span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.expanded .spangica span:nth-child(2),
.rlClose .spangica span:nth-child(2) {
    opacity: 0;
}

.expanded .spangica span:last-child,
.rlClose .spangica span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.shoppingCart .formFooter {
    padding: 0 8%;
}

@media (min-width: 1280px) {
    .shoppingCart .formFooter {
        padding: 0;
        overflow: auto;
        margin-top: 1rem;
    }
}

.shoppingCart .formFooter {
    overflow: auto;
}

.shoppingCart .formFooter .notes {
    width: 64%;
    float: left;
    overflow: auto;
    margin-top: 1.5rem;
}

.shoppingCart .formFooter .notes p {
    font-style: italic;
    color: #4d4d4f;
    margin-bottom: 4rem;
}

.shoppingCart .formFooter .notes p a {
    text-decoration: underline;
}

.shoppingCart .formFooter .notes label {
    width: 15%;
    box-sizing: border-box;
    float: left;
    margin-top: 1.2rem;
    padding-top: 0;
}

.shoppingCart .formFooter .notes textarea {
    width: 85%;
    float: right;
    height: 8.7rem;
    font-size: 1.4rem;
}

.shoppingCart .formFooter .checkout {
    width: 30%;
    float: right;
    padding-top: 2.6rem;
}

.shoppingCart .formFooter .checkout .priceTotal {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e8e8e8;
}

.shoppingCart .formFooter .checkout .currentPrice {
    padding-bottom: 0;
    border-bottom: 0;
}

.shoppingCart .formFooter .checkout .vat {
    text-align: right;
    clear: both;
}

.shoppingCart .formFooter .checkout .button {
    margin-top: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    width: auto;
    letter-spacing: 0.1em;
}

.shoppingCart .formFooter .checkout .priceWrap {
    width: 20.4rem;
}
